.flaticon-award-medal-of-number-one-with-olive-branches:before {
	content: "\e001";
}
.flaticon-call-center-operator:before {
	content: "\e002";
}
.flaticon-check:before {
	content: "\e003";
}
.flaticon-construction:before {
	content: "\e004";
}
.flaticon-doctor:before {
	content: "\e005";
}
.flaticon-medical-1:before {
	content: "\e006";
}
.flaticon-medical-2:before {
	content: "\e007";
}
.flaticon-medical-3:before {
	content: "\e008";
}
.flaticon-medical-4:before {
	content: "\e009";
}
.flaticon-medical-doctor-specialist:before {
	content: "\e00a";
}
.flaticon-medical-first-aid-kit:before {
	content: "\e00b";
}
.flaticon-medical:before {
	content: "\e00c";
}
.flaticon-microscope-side-view:before {
	content: "\e00d";
}
.flaticon-patient-in-hospital-bed:before {
	content: "\e00e";
}
.flaticon-people:before {
	content: "\e00f";
}
.flaticon-teeth:before {
	content: "\e010";
}
